.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-desc {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: rgb(245, 244, 255);
}
.product-desc h2 {
  text-transform: uppercase;
}
.product-desc p {
  line-height: 14px;
}
.update-btn {
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  transition: 0.2s;
}
.update-btn:hover {
  background-color: #f5f4ff;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 600px) {
  .inventory-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .inventory-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
