footer {
  background-color: rgb(25, 16, 16);
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
}
footer p {
  margin: 0;
}
