@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.top-center {
  position: absolute;
  top: 15%;
  right: 58%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-family: "Roboto", sans-serif;
}
.top-center button {
  margin-top: 10px;
  border: none;
  font-size: 1.1rem;
  padding: 7px 15px;
  border-radius: 5px;
  transition: 0.7s;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
}
.top-center button:hover {
  background-color: #186f06;
  border-radius: 10px;
  color: white;
}
