.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 400px;
    position: relative;
    text-align: center;
 
}
.top-center{
    position: absolute;
   top: 50%;
   right: 50%;
   
}
.banner img {  
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     
}