.item-container {
  background-color: rgb(247, 251, 255);
  border-radius: 10px;
  /* padding: 10px; */
  box-shadow: 1px 2px 3px 1px rgba(235, 186, 186, 0.968);
  transition: 0.1s;
  position: relative;
}
.item-img {
  width: 100%;
  height: 223px;
  overflow: hidden;
}
.item-container:hover {
  background-color: rgb(255, 251, 251);
}
.item-container img {
  border-radius: 10px;
  width: 100%;
}
.item-container button {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.4s;
}
.item-container button:hover {
  background-color: rgb(210, 184, 184);
}
